<div class="liste-des-equipes-container">
<app-nav-bar></app-nav-bar>
  <div class="liste-des-equipes-features">
    <div class="liste-des-equipes-features">
      <h1 class="liste-des-equipes-text3">
        <span class="domicile">{{match.equipeDomicileIdNomEquipe}}</span>
        <span class="versus">vs</span>
        <span class="exterieur">{{match.equipeExterieurIdNomEquipe}}</span>
      </h1>
      <h4 class="score">
        <span class="score-domicile">{{match.scoreDomicile}}</span>

        <span class="score-exterieur">{{match.scoreExterieur}}</span>
      </h4>
    </div>

  </div>
  <div class="align-table">
  <table class="table custom-table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Numéro</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let j of joueurs">
    <tr>
      <td>{{j.nom}}</td>
      <td>{{j.prenom}}</td>
      <td>{{j.numero}}</td>
    </tr>
    </tbody>

  </table>
  <table class="table custom-table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Numéro</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let j of joueurs">
    <tr>
      <td>{{j.nom}}</td>
      <td>{{j.prenom}}</td>
      <td>{{j.numero}}</td>
    </tr>
    </tbody>

  </table>

</div>
</div>
