<div class="liste-des-equipes-container">
<app-nav-bar></app-nav-bar>
  <div class="liste-des-equipes-features">
    <div class="liste-des-equipes-features">
      <h1 class="liste-des-equipes-text3">
        <span class="domicile">{{match.equipeDomicileIdNomEquipe}}</span>
        <span class="versus">vs</span>
        <span class="exterieur">{{match.equipeExterieurIdNomEquipe}}</span>
      </h1>
      <h4 class="score">
        <span class="score-domicile">{{match.scoreDomicile}}</span>

        <span class="score-exterieur">{{match.scoreExterieur}}</span>
      </h4>
    </div>

  </div>
  <div class="align-table">
  <table class="table custom-table dom">
    <thead>
    <tr>
      <th>N°</th>
      <th>Nom</th>
      <th>Prenom</th>
    </tr>
    </thead>
    <tbody *ngFor="let j of joueursDom">
      <tr (click)="openModal(j)" >
        <td>{{j.numero}}</td>
        <td>{{j.nom}}</td>
        <td>{{j.prenom}}</td>
     </tr>
    <div class="modal" [ngClass]="{'is-active': showModal}">
      <div class="modal-background" (click)="closeModal()"></div>
      <div class="modal-content">
        <!-- Ajouter le formulaire ou le contenu de votre modal ici -->
        <form>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <button (click)="deuxpts(j)">Deux Points</button>
          </div>
          <div class="mt-2 col-2 ">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
    </tbody>

  </table>
  <table class="table custom-table ext">
    <thead>
    <tr>
      <td>N°</td>
      <th>Nom</th>
      <th>Prenom</th>   
    </tr>
    </thead>
    <tbody *ngFor="let jExt of joueursExt" >
    <tr (click)="openModal(jExt)">
      <td>{{jExt.numero}}</td>
      <td>{{jExt.nom}}</td>
      <td>{{jExt.prenom}}</td>
    </tr>
    <div class="modal" [ngClass]="{'is-active': showModal}">
      <div class="modal-background" (click)="closeModal()"></div>
      <div class="modal-content">
        <!-- Ajouter le formulaire ou le contenu de votre modal ici -->
        <form>
          <div class="col-sm-4 col-md-4 col-lg-4">
            
            <button (click)="deuxpts(jExt)">Deux Points</button>
          </div>
          <div class="mt-2 col-2 ">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
    </tbody>

  </table>
  
</div>
</div>


  