<div class="home-container">
  <div class="home-hero">
    <header data-role="Accordion" class="home-header">
      <img
        alt="logo"
        src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
        class="home-image"
      />
      <div class="home-separator"></div>
      <nav class="home-nav">
        <div>
          <div>
            <button class="button" [routerLink]="['/equipe']">Equipes</button>
            <button class="button" [routerLink]="['/historique']">
            <span>
              <span>Historiques</span>
              <br/>
            </span>
            </button>
          </div>
        </div>
      </nav>
      <div data-role="AccordionHeader" class="home-accordion-header">
        <svg viewBox="0 0 1024 1024" class="home-icon">
          <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
          ></path>
        </svg>
      </div>
      <div data-role="AccordionContent" class="home-accordion-content">
        <div class="home-nav1">
        </div>
      </div>
    </header>
    <div class="home-hero1">
      <img
        alt="image"
        src="https://cdn.images.express.co.uk/img/dynamic/4/590x/Russell-Westbrook-1087637.jpg?r=1550219432652"
        class="home-image1"
      />
      <div class="home-container2">
        <h1 class="home-text">Keep it simple</h1>
        <span class="home-text01">
          <span>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              volutpat turpis.
              <span [innerHTML]="rawump4"></span>
            </span>
            <span><span [innerHTML]="rawa8ey"></span></span>
          </span>
          <br/>
          <span></span>
          <span>
            <span>
              Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              <span [innerHTML]="rawujga"></span>
            </span>
            <span><span [innerHTML]="raw4y53"></span></span>
          </span>
        </span>
        <button class="home-button button" [routerLink]="['/new-match']">Get Started</button>
      </div>
    </div>
  </div>
</div>
