<div class="liste-des-equipes-container">
    <app-nav-bar></app-nav-bar>
    <div class="liste-des-equipes-features">
        <div class="liste-des-equipes-features">
            <h1 class="liste-des-equipes-text3">
                <span class="domicile"></span>
                <span class="versus">vs</span>
                <span class="exterieur"></span>
            </h1>
            <h4 class="score">
                <span class="score-domicile"></span>

                <span class="score-exterieur"></span>
            </h4>
        </div>

    </div>
    <div class="align-table">
        <table class="table custom-table dom">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>