<div class="liste-des-equipes-container">
  <app-nav-bar></app-nav-bar>
  <div class="liste-des-equipes-features">
    <h1 class="liste-des-equipes-text3">Liste des Matchs</h1>
    <div class="liste-des-equipes-container2">
      <app-card-match
        *ngFor="let m of matchs"
        [accessKey]="m.id"
        [equipeDomicileIdNomEquipe]="m.equipeDomicileIdNomEquipe"
        [equipeExterieurIdNomEquipe]="m.equipeExterieurIdNomEquipe"
        [scoreDomicile]="m.scoreDomicile"
        [scoreExterieur]="m.scoreExterieur"
        [routerLink]="['/match', m.id]"
        [date]="m.date"
        [supprimerMatch]="getSupprimerMatchFn(m)"
      >
      </app-card-match>
    </div>

  </div>
</div>
